# Include the README, CHANGELOG, and LICENSE files
include README.md
include CHANGELOG.md
include LICENSE.md

recursive-include chat-ui *
recursive-include examples *

recursive-include * *.yml
recursive-include nemoguardrails *.co
recursive-include * *.txt
recursive-include * *.json
# recursive-include eval/data *.*
